{% block node_linked_product_teaser %}
    <div class="node-linked-product-teaser">
        <div class="node-linked-product-teaser__header">
            <h3 class="node-linked-product-teaser__title">
                {{ "node.linked_product.title"|trans }}
            </h3>
        </div>
        <div class="node-linked-product-teaser__content">
            <a class="node-linked-product-teaser__link" href="{{ seoUrl('frontend.detail.page', {'productId': linkedProduct.id}) }}">
                {% if linkedProduct.cover and linkedProduct.cover.media %}
                    <div class="node-linked-product-teaser__image">
                        <img src="{{ linkedProduct.cover.media.url }}"
                             alt="{{ linkedProduct.translated.name }}"
                             loading="lazy">
                    </div>
                {% endif %}
                <div class="node-linked-product-teaser__info">
                    <div class="node-linked-product-teaser__name">
                        {{ linkedProduct.translated.name }}
                    </div>
                    {% if linkedProduct.calculatedPrice %}
                        <div class="node-linked-product-teaser__price">
                            {{ linkedProduct.calculatedPrice.totalPrice|currency(linkedProduct.calculatedPrice.currency.isoCode) }}
                        </div>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
{% endblock %}
